codis-zk:
  image: 172.16.54.136:5000/rawmind/rancher-zk:3.4.6-1
  tty: true
  stdin_open: true
  privileged: true
  volumes:
  - /opt/iosa_deploy/codis/zk/data:/opt/zk/data
  - /opt/iosa_deploy/codis/zk/logs:/opt/zk/logs
  labels:
    io.rancher.container.hostname_override: container_name
  ports:
  - 2181:2181
  environment:
   - JVMFLAGS=-Xmx${zk_mem}m -Xms${zk_mem}m
   - CONFD_INTERVAL=${zk_interval}
     
dashboard:
  image: 172.16.54.136:5000/test/codis:v3.2
  tty: true
  stdin_open: true
  privileged: true
  labels:
    io.rancher.container.hostname_override: container_name  
  volumes:
  - /opt/iosa_deploy/codis/config/dashboard.toml:/codis/dashboard.toml  
  - /opt/iosa_deploy/codis/log:/codis/log
  ports:
  - ${DASH_ADMIN_PORT}:18080
  links:
  - codis-zk:codis-zk-service
  command: codis-dashboard -l log/dashboard.log -c dashboard.toml  --host-admin ${DASH_ADMIN_IP}:${DASH_ADMIN_PORT}

proxy:
  image: 172.16.54.136:5000/test/codis:v3.2
  tty: true
  stdin_open: true
  privileged: true
  labels:
    io.rancher.container.hostname_override: container_name  
  volumes:
  - /opt/iosa_deploy/codis/config/proxy.toml:/codis/proxy.toml
  - /opt/iosa_deploy/codis/log:/codis/log
  ports:
  - ${PROXY_ADMIN_PORT}:19000
  - ${PROXY_ADMIN_PORT}:11080
  links:
  - codis-zk:codis-zk-service
  - dashboard:dashboard-service
  command: codis-proxy -l log/proxy.log -c proxy.toml --host-admin ${DASH_ADMIN_IP}:21080 --host-proxy ${DASH_ADMIN_IP}:29000
  
fe:
  image: 172.16.54.136:5000/test/codis:v3.2
  tty: true
  stdin_open: true
  privileged: true
  labels:
    io.rancher.container.hostname_override: container_name  
  volumes:
  - /opt/iosa_deploy/codis/log:/codis/log
  ports:
  - ${FE_ADMIN_PORT}:8080
  links:
  - codis-zk:codis-zk-service
  - dashboard:dashboard-service
  command: codis-fe -l log/fe.log --zookeeper codis-zk-service:2181 --listen=0.0.0.0:8080 --assets=/gopath/src/github.com/CodisLabs/codis/bin/assets
   
server-master:
  image: 172.16.54.136:5000/test/codis:v3.2
  tty: true
  stdin_open: true
  privileged: true
  labels:
    io.rancher.container.hostname_override: container_name  
  volumes:
  - /opt/iosa_deploy/codis/config/master:/codis
  - /opt/iosa_deploy/codis/log:/log
  ports:
  - ${SERVER_MASTER_PORT}:6379
  links:
  - codis-zk:codis-zk-service
  - dashboard:dashboard-service
  command: codis-server redis.conf --logfile ../log/8000.log
  
server-slave:
  image: 172.16.54.136:5000/test/codis:v3.2
  tty: true
  stdin_open: true
  privileged: true
  labels:
    io.rancher.container.hostname_override: container_name  
  volumes:
  - /opt/iosa_deploy/codis/config/slave:/codis
  - /opt/iosa_deploy/codis/log:/log
  ports:
  - ${SERVER_SLAVE_PORT}:6379
  links:
  - codis-zk:codis-zk-service
  - server-master:server-master-service
  command: codis-server redis.conf --logfile ../log/8001.log
   
  
sentinel:
  image: 172.16.54.136:5000/test/codis:v3.2
  tty: true
  stdin_open: true
  privileged: true
  labels:
    io.rancher.container.hostname_override: container_name  
  volumes:
  - /opt/iosa_deploy/codis/config/sentinel:/codis
  - /opt/iosa_deploy/codis/log:/log
  ports:
  - ${SENTINEL_PORT}:26379
  links:
  - codis-zk:codis-zk-service
  - server-master:server-master-service
  - server-slave:server-slave-service
  command: codis-server sentinel.conf --sentinel --logfile ../log/7000.log
   
   
   
   

 
